*.pyc
PSSup/O.linux-arm/
PlDrvSup/O.linux-arm/
__pycache__
autosave/SIA-CalSys.sav.bu
autosave/SIA-CalSys.sav_*
bin/
configure/O.linux-arm/
db/
dbd/
iocBoot/iocpoeAdc/envPaths
poeAdcApp/Db/O.linux-arm/
**/O.Common/
**/O.linux-arm/
