[Unit]
Description=Sirius RF ADC/GPIO Interface [legacy]
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-poe-adc/poeAdcSPI/legacy
ExecStart=/opt/cas-rf-poe-adc/poeAdcSPI/legacy/run.py

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
