[Unit]
Description=Sirius RF Motor Driver- GPIO Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-poe-adc/poeAdcSPI
ExecStart=/opt/cas-rf-poe-adc/poeAdcSPI/run.py

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
